* {
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

main {
  height: 100vh;
  justify-items: center;
  align-content: center;
}

#table-container {
  padding: 1.25rem;
  min-width: 40%;
  min-height: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Table */
#data-tabel-form {
  border-spacing: 0;
}

#data-tabel-form td,
#data-tabel-form th {
  padding: 10px;
}

#data-tabel-form > thead > tr {
  background-color: #4589f0;
  color: #fff;
}

#data-tabel-form > tbody > tr:nth-child(even) {
  background-color: #4589f0;
  color: #fff;
}

#btn-back {
  border: none;
  padding: 0.875rem;
  border-radius: 10px;
  align-self: start;
  font-weight: 500;
  background-color: #4589f0;
  color: #fff;
}

#btn-back:hover {
  background-color: #2576e8;
}

#btn-back:active {
  background-color: #1d6989;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }

  #table-container {
    max-width: 90%;
    max-height: 90%;
  }

  #table-container > div {
    width: 100%;
    overflow-x: auto;
  }
}
